[submodule "themes/accessible-minimalism"]
	path = themes/accessible-minimalism
	# url = git@github.com:leonstafford/accessible-minimalism-hugo-theme
	url = https://github.com/leonstafford/accessible-minimalism-hugo-theme.git
